<div class="container main">
    <label for="" class="main__title">
      Finding The Falcone
    </label>
    <label for="" class="main__subtitle">
      Select planets you wanted to search in :
    </label>

  <div class="row mb-5 main__option">
      <div class="col">
        <app-destination-one></app-destination-one>
      </div>

      <div class="col">
        <app-destination-two></app-destination-two>
      </div>

      <div class="col">
        <app-destination-three></app-destination-three>
      </div>

      <div class="col">
        <app-destination-four></app-destination-four>
      </div>

  </div>

  <label for="" class="text-centre main__subtitle">
    Total Time :
  </label>

  <button class="btn-main">
    Find Falcone
  </button>
</div>


